<script id="integrated_website_template_block" type="text/x-handlebars-template">
    {% verbatim %}
    <div id="{{id}}_block_element" class="integrated-website-block">
        <input type="hidden" id="{{id}}_order" name="{{name}}[order]" value="{{index}}" data-field="integrated-website-item-order" data-index="{{index}}" />
        <input type="hidden" id="{{id}}_block" name="{{name}}[block]" value="{{value}}" data-field="integrated-website-block" />

        <div class="integrated-website-block-element">{{{element}}}</div>
    </div>
    {% endverbatim %}
</script>

<script id="integrated_website_template_cols" type="text/x-handlebars-template">
    {% verbatim %}
    <div id="{{id}}_row" class="row integrated-website-row">
        <input type="hidden" id="{{id}}_order" name="{{name}}[order]" value="{{index}}" data-field="integrated-website-item-order" data-index="{{index}}" />

        <div id="{{id}}_row_columns" class="integrated-website-cols">
            {{#each columns}}
            <div id="{{id}}_row_columns_{{index}}" class="col-xs-{{ size }} integrated-website-col">
                <input type="hidden" id="{{id}}_row_columns_{{index}}_size" name="{{name}}[row][columns][{{index}}][size]" data-field="integrated-website-col-size" value="{{size}}">
                <div class="integrated-website-section">
                    <div id="{{id}}_row_columns_{{index}}_items" class="integrated-website-sortable" data-name="{{name}}[row][columns][{{index}}][items]"></div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
    {% endverbatim %}
</script>

<script id="integrated_website_template_modal_block_add" type="text/x-handlebars-template">
    {% verbatim %}
    {{#each blocks}}
    <div class="row form-group">
        <div class="col-sm-8">
            <b>{{ title }}</b>
            <p>{{ type }}</p>
        </div>
        <div class="col-sm-4">
            <a href="javascript:;" data-action="integrated-website-block-choose" data-id="{{ id }}" class="btn btn-default pull-right">Choose</a>
        </div>
    </div>
    {{/each}}
    {% endverbatim %}

    <div class="row form-group">
        <div class="col-sm-12">
            <a href="{{ path('integrated_block_block_index') }}" class="btn btn-default pull-right">New</a>
        </div>
    </div>
</script>
