<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0">
    <channel>
        <title>{{ selection.title|default }}</title>
        <link>{{ url('integrated_website_content_rss', { 'id': selection.id }) }}</link>

        {% spaceless %}
        {% for document in documents %}
            {% set content = document.content|default %}
            {% if content is iterable %}
                {% set content = content|first %}
            {% endif %}

            <item>
                <title>{{ document.title|default }}</title>
                <pubDate>{{ document.pub_created|date('D, d M Y H:i:s O') }}</pubDate>
                <link>{{ app.request.schemeAndHttpHost }}{{ document.url|default }}</link>
                <description><![CDATA[ {{ content|raw }}]]></description>
            </item>

        {% endfor %}
        {% endspaceless %}
    </channel>
</rss>
